{% extends "base.html" %}

{% block content %}

<section class="hero">

<div class="hero-text">

<h1>Hi, I'm Samir Bhurtel</h1>

<h2>Python Flask Developer</h2>

<p>

I create modern, responsive and professional websites using
Python, Flask, HTML, CSS and JavaScript.

</p>

<div class="buttons">

<a href="/projects" class="primary-btn">

View Projects

</a>

<a href="/resume" class="secondary-btn">

Download Resume

</a>

</div>

</div>

<div class="hero-image-container">

<img src="{{ url_for('static', filename='profile.jpeg') }}"
class="hero-image">

</div>

</section>

{% endblock %}
