body{
font-family:Arial;
margin:0;
background:#f4f4f4;
text-align:center;
}

nav{
background:#333;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:#00adb5;
}

.hero{
padding:50px;
background:white;
}

.profile{
width:150px;
border-radius:50%;
margin-bottom:20px;
}

.button{
background:#007bff;
color:white;
padding:10px 20px;
text-decoration:none;
border-radius:5px;
}

.button:hover{
background:#0056b3;
}

.card-container{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
padding:20px;
}

.card{
background:white;
padding:20px;
width:200px;
box-shadow:0px 0px 10px gray;
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}
