<!DOCTYPE html>
<html>
<head>
    <title>About Samir</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<!-- Navigation bar -->
<nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/skills">Skills</a> |
    <a href="/projects">Projects</a> |
    <a href="/contact">Contact</a>
</nav>
<hr>

<section>
    <h1>About Me</h1>
    <p>Hello! I am Samir Bhurtel, a CSIT student at Patan Multiple College, currently in 3rd semester.</p>
    <p>I am learning backend development using Python Flask and web technologies.</p>
</section>

</body>
</html>
