<!DOCTYPE html>
<html>
<head>
<title>Samir Bhurtel Portfolio</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav>

<h2>Samir Bhurtel</h2>

<div>

<a href="/">Home</a>
<a href="/projects">Projects</a>
<a href="/contact">Contact</a>

</div>

</nav>


<section class="hero">

<img src="/static/profile.jpg" class="profile">

<h1>Hello, I'm Samir Bhurtel</h1>

<p>CSIT Student | Python Flask Developer</p>

<a href="/projects" class="button">View Projects</a>

</section>


<section>

<h2>About Me</h2>

<p>
I am a CSIT student at Patan Multiple College. I am learning Python,
Flask, and web development to become a professional software developer.
</p>

</section>


<section>

<h2>My Skills</h2>

<div class="card-container">

<div class="card">Python</div>

<div class="card">Flask</div>

<div class="card">HTML</div>

<div class="card">CSS</div>

<div class="card">JavaScript</div>

</div>

</section>


</body>
</html>
