<!DOCTYPE html>
<html>
<head>
<title>Projects</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav>

<a href="/">Home</a>
<a href="/projects">Projects</a>
<a href="/contact">Contact</a>

</nav>

<h1>My Projects</h1>

<div class="card-container">

<div class="card">

<h3>Python Calculator</h3>

<p>Built using Python</p>

</div>


<div class="card">

<h3>Flask Portfolio</h3>

<p>Personal website using Flask</p>

</div>


<div class="card">

<h3>Student System</h3>

<p>Management system project</p>

</div>


</div>

</body>
</html>
